{% extends 'admin_base_site.html'%}
{% block title%}Campus List | Andalus{% endblock %}
 
{% block content %}
{% load static %}
{% load widget_tweaks %}
<div class="col-sm-6 col-centered" style="margin-top: 2em;">
    <h5 class="ur-card-title" style="font-size: 2em;">university list 
        <a class = "btn btn-outline-info" href="{% url 'campus_register' %}" style="float:right;">add university</a>
    </h5>

    <table class="table table-striped">
        <thead class="table-info">
            <tr>
                <th ><strong>University Name</strong></th>
                <th ><strong>University Short Name</strong></th>
                <th ><strong>Country</strong></th>
            </tr>
        </thead>
        {% for i in campus_list %}
            <tr>
                <td class="td right team">
                    <img src="{{i.logo.url}}" style = "height:30px; width:30px;margin-right:1em;" >
                    <a href="{% url 'edit_campus' i.id %}" style="text-decoration: none;">{{i.name}}</a>
                </td>
                <td >{{i.short_name}}</td>
                <td >{{i.country}}</td>
            </tr>
        {% endfor %}
    </table>        
</div>

{% endblock %}

   
