{% extends 'admin_base_site.html'%}
{% block title%}Edit Campus{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
<div style="margin-left: 15%;  margin-right: 35%;" >
	
	<div class="card">
	    <div class="card-header" style="font-size: 18px;"> 
	        <strong>CAMPUS EDIT FORM</strong> 
	        <ul class="object-tools" style="position: absolute;top: 60px; right: 15px;">
	           <li> 
	           	<a href="{% url 'delete_campus' campus_id%}">delete campus?</a>
	           </li>
	       </ul>
	    </div>

        <form  method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'horizontal_form_5.html' %}
            <button type="submit" name="button" class="btn btn-primary" style="margin-left: 1%;">Update</button>
        
    </form>
    
    </div>
</div>
{% endblock %}

   










