{% load widget_tweaks %}
{% load static %}

{% if form.non_field_errors %}
    <table class="form-error">
        {% for error in form.non_field_errors%}
        <tr><td><b> {{ error}}</b></td></tr>
        {% endfor %}
    </table>
    <br>
{% endif %}

<table class="table table-light">
    {% for field in form.visible_fields %}
        
        <tr>
            <td>
                {% if field.field.required%}
                    <strong>{{ field.label_tag }}</strong>
                {% else %}
                    {{ field.label_tag }}
                {% endif %}

            </td>
            <td>
        
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for  error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}

                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
                                

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </td>
        </tr>
        
    {% endfor %}
    </table>
