{% extends 'jury_base_site.html'%}
{% block title%}Contest Detail | Andalus{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-sm-6 col-centered" style="margin-top: 2em;">
        <h5 class="ur-card-title" style="font-size: 2em;">contest list</h5>
        <table class="table table-striped" >
            <thead class="table-info">
                <tr>
                    <th ><strong>title</strong></th>
                    <th ><strong>start time</strong></th>
                    <th ><strong>created by</strong></th>
                    <th ><strong>status</strong></th>

                
                </tr>
            </thead>
            {% for i in total_contest %}
                {% if i.id == this_contest.id%}
                    <tr style="background: rgb(147, 255, 250);">
                        <td ><a href="{% url 'jury_contest_detail' i.id %}" style="text-decoration: none;">{{i.title}}</a></td>
                        <td >{{i.start_time}}</td>
                        <td >{{i.created_by}}</td>
                        {% if i.status == "on going" %}
                            <td style="color:green;">
                                {{i.status}}
                                <a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">view result</a>                           
                            </td>
                        {% elif i.status == "active" %}
                            <td style="color:black;">{{i.status}}</td>
                        {% elif i.status == "not active" %}
                            <td style="color:gray;">{{i.status}}</td>
                        {% elif i.status == "end" %}
                            <td style="color:blue;">
                                {{i.status}}
                                <a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">view result</a>                           
                            </td>
                        {% elif i.status == "deactivate" %}
                            <td style="color:red;">
                                {{i.status}}
                                <a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">view result</a>
                            </td>
                        {% elif i.status == "disable"%}
                            <td style="color:#a0a;">{{i.status}}</td>
                        {% endif %}
                        
                    </tr>
                {% else %}
                    <tr>
                        <td ><a href="{% url 'jury_contest_detail' i.id %}" style="text-decoration: none;">{{i.title}}</a></td>
                        <td >{{i.start_time}}</td>
                        <td >{{i.created_by}}</td>
                        {% if i.status == "on going" %}
                            <td style="color:green;">{{i.status}}</td>
                        {% elif i.status == "active" %}
                            <td style="color:black;">{{i.status}}</td>
                        {% elif i.status == "not started" %}
                            <td style="color:gray;">{{i.status}}</td>
                        {% elif i.status == "end" %}
                            <td style="color:blue;">{{i.status}}</td>
                        {% elif i.status == "deactivate" %}
                            <td style="color:red;">
                                {{i.status}}
                                <a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">view result</a>
                            </td>
                        {% elif i.status == "disable"%}
                            <td style="color:#a0a;">{{i.status}}</td>
                        {% endif %}
                    </tr>
                
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="col-sm-5 col-centered" style="margin-top: 2em; margin-left:10em;">
        <h4>Detail Contest: {{this_contest.title}}</h4><br>
        <table style="font-size:15px; width:100%;" class="table table-light"> 
            <tr>
                <td style="width:30%;"> <strong>ID: </strong></td>
                <td style="width:70%;"> {{this_contest.id}} </td>
            </tr>
            <tr>
                <td style="width:30%;"> <strong>Title: </strong></td>
                <td style="width:70%;"> {{this_contest.title}} </td>
            </tr>
            <tr>
                <td style="width:30%;"> <strong>Active Time: </strong></td>
                <td style="width:70%;"> {{this_contest.active_time}} </td>
            </tr>
            <tr>
                <td style="width:30%;"> <strong>Start Time: </strong></td>
                <td style="width:70%;"> {{this_contest.start_time}} </td>
            </tr>
            <tr>
                <td style="width:30%;"> <strong>End Time: </strong></td>
                <td style="width:70%;"> {{this_contest.end_time}} </td>
            </tr>
            {% if this_contest.frozen_time %}
            <tr>
                <td style="width:30%;"> <strong>Frozen Time: </strong></td>
                <td style="width:70%;"> {{this_contest.frozen_time}} </td>
            </tr>
            {% endif %}
            {% if this_contest.unfrozen_time %}
            <tr>
                <td style="width:30%;"> <strong>Unfrozen Time: </strong></td>
                <td style="width:70%;"> {{this_contest.unfrozen_time}} </td>
            </tr>
            {% endif %}
            <tr>
                <td style="width:30%;"> <strong>Deactivate Time: </strong></td>
                <td style="width:70%;"> {{this_contest.deactivate_time}} </td>
            </tr>
            <tr>
                <td style="width:30%;"> <strong>Is Public: </strong></td>
                <td style="width:70%;"> {{this_contest.is_public}} </td>
            </tr>
            <tr>
                <td style="width:30%;"> <strong>Has Value: </strong></td>
                <td style="width:70%;"> {{this_contest.has_value}} </td>
            </tr>
            <tr>
                <td style="width:30%;"> <strong>Enable: </strong></td>
                <td style="width:70%;"> {{this_contest.enable}} </td>
            </tr>

            {% if this_contest.problem.all %}
            <tr>
                <td style="width:30%;"> <strong>Problems:</strong></td>
                <td style="width:70%;">
                    <table  style="width:100%;">
                        {% for i in this_contest.problem.all %}
                            <tr><td>{{i.title}} </td></tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endif %}
        
            {% if this_contest.user.all %}
            <tr>
                <td style="width:30%;"> <strong>Users:</strong></td>
                <td style="width:70%;">
                    <table  style="width:100%;">
                        <tr>
                            <th><strong>Username</strong></th>
                            <th><strong>Name</strong></th>
                        </tr>
                        {% for i in this_contest.user.all %}
                            <tr>
                                <td>{{i.username}} </td>
                                <td>{{i.name}} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}

   