{% extends base_page %}

{% block timeandselector%}
<div class="time">
    <p id="countdown"></p>
    {% if request.session.all_active_contest_list_public %}
    <li id="contest_selector" class="ur-nav-item">
        <select id="id_contest" name="contest">
            {% for id, title in request.session.all_active_contest_list_public %}
                {% if id|slugify ==  request.session.active_contest_public %}
                    <option   value="{{id}}" selected="selected" > {{title|upper}}</option>
                {% else %}
                    <option   value="{{id}}">{{title}}</option>
                {%endif%}
            {%endfor%}
        </select> 
    </li>
    {%endif%}
</div>
{% endblock %}
{% block content %}  
{% load static %} 
{% load js %} 

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"  type="text/css" />

    <div class="content" id="active_contest_scoreboard">
   
    {% if scoreboard %}
        <div class="contest-name">
            Scoreboard {{ contest.title }}
        </div>
        {% if frozen %}
        <h5 style="font-size: 1.5em; color:red; margin-left:5%">The scoreboard is now frozen until {{frozen.1}}</h5>
        {% endif %}
        <br> 
        <div class="scoreboard">
            <table style="border-collapse: separate;">
                <tr >
                    <thead>
                        <th class="th bottom right">RN </th>
                        <th class="th bottom right">TEAM</th>
                        <th class="th bottom right score">∑</th>
                        <th class="th bottom right score">PEN</th>
                        {% for i in total_problems%}
                            <th class="th bottom score">
                                <a href=""> {{i.short_name}} <span style="height: 15px; width: 15px; background-color: {{i.ballon}}; 
                                    border-radius:50%; display: inline-block;"></span> </a> </th>
                        {%endfor%}
                    
                    </thead>
                </tr>
                {% if scoreboard.scoreboard_public %}
                    {% for point, punish_time, last_submit_time, teamname, user_id, univname, flag, cell_data, rank in scoreboard.scoreboard_public %}
                    <tr>
                        <tbody>     
                                                      
                            <td class="td right"> {{rank}} </td>
                            <td class="td right team">
                                <img src="{% static flag %}">
                                <div id="teamname"> {{teamname}} </div>
                                <div id="univname"> {{univname}}</div>
                            </td>
                            <td class="td right score">{{point}}</td>
                            <td class="td right score">{{punish_time}}</td>
                            {% for try, time, color in cell_data %}
                                {% if not color == '#ffffff' %}
                                    <td class="td score" style="background-color: {{ color }}">
                                    {% if not time == -1 %}
                                        <div id="time" > {{ time }} </div>
                                    {% endif %}
                                    {% if try == 1 %}
                                        <div id="try"> {{ try }} try </div> </td>
                                    {% elif not try == 0 %}
                                        <div id="try"> {{ try }} tries </div> </td>
                                    {% endif %}
                                {% else %}
                                <td class="td score"> <div id="time" > </div><div id="try">  </div> </td>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </tr>
                    {% endfor %}
                {% endif %}

                <tr>
                    {% for row in scoreboard.summary %}
                        <td style="height:40px; padding: 10px;" class="top" > <strong>{{row}}</strong> </td>
                    {% endfor %}
                </tr>
            </table> 

            
            <div class="container col-9" style="margin-top: 50px; float: left;" >
                <p><strong>Cell colours</strong></p>
                <table >
                    
                    <tr>
                        <td style="background-color:#26ac0c; height:20px; width:100px;font-size:16px;"> 
                            <strong>solved first</strong>
                        </td>

                        <td style="background-color:#2ef507; height:20px; width:100px; font-size:16px; "> 
                            <strong>solved</strong>
                        </td>
                        <td style="background-color:#F67B51 ; height:20px; width:120px; font-size:14px;"> 
                            <strong>tried, incorrect</strong>
                        </td>

                        <td style="background-color:#007F7F;height:20px; width:100px;font-size:16px;"> 
                            <strong>frozen</strong>
                        </td>
                    </tr>

                </table>
            </div>
    
        </div> 
    {% elif request.session.active_contest_public or  request.session.active_contest_contestant %}
        <div>
            <h5 class="ur-card-title" style="font-size: 1.5em;">contest {{contest_title}} start on {{start_time}}</h5>
        </div>
        
    {% else %}
        <div class="container nocontest">
            <h5 class="ur-card-title" style="font-size: 2em;">There is no active contest here</h5>
            
            {% if role == 'public' %}
            <div>
                <p>Competitive programming comprises the art of programming and critical thinking as well as problem solving. In short
                    competitive programming is about solving real world problems and also well-known
                    mathematical problems using computer programming and algorithms.
                    There are many competitions held in those countries, one of the biggest</p>
                <p>
                    competitions is the ICPC (International Collegiate Programming Contest) and it is for university
                    students who fulfill the requirements laid by the organization which hosts the competition. Many
                    universities come together from all around the world and compete for the grand prize and also it
                    is helpful for mega tech companies for recruitment.</p>
                <p>The ICPC is the world’s premiere university programming competition that is held globally. Last
                    year alone, 40,266 students from 2,736 universities and 102 countries across the globe competed
                    for the privilege of advancing to the ICPC World Finals. In the last 15 years, the competition was
                    sponsored by IBM. Now many international corporations are waiting in the queue to sponsor this
                    competition including Google and Facebook.
                    ICPC is the oldest, largest and most prestigious programming contest which has been exercised
                    for the last four decades in the world. In Africa, this contest was conducted for the 21st time this
                    year. ASTU, is the first University from Ethiopia which continuously participated in this contest
                    beginning from 2017. In the 2019 South Africa Regional ICPC Contest, 12 African Universities
                    participated and the </p>
            </div>
            {%endif%}
        </div>
               
    {% endif %}
    </div>  

    {% if request.session.current_contest_start_time and request.session.current_contest_end_time %}
    <script>
        var countDownDate_start = "{{request.session.current_contest_start_time}}";
        var countDownDate_end = "{{request.session.current_contest_end_time}}";
    </script>
    {% else %}
    <script>
        var countDownDate_start = 0;
        var countDownDate_end = 0;
    </script>
    {% endif %}
     
    <script> 

//    setInterval(function(){
//          $.ajax({ 
//              url:"{% url 'public_scoreboard_refresh' %}",
//              success: function(data){
//                  $("#active_contest_scoreboard").html(data);
//              }
//          }); 

//     }, 5000); 
    </script>
 
    {% endblock %}
