{% extends 'admin_base_site.html' %}

{% block title%}Add Problem ZIP{% endblock %}
{% block content %}  
{% load static %} 
    
    <div class="ur-card">
        <h1 class="ur-card-title">Add problem</h1>
        <form method="POST"  enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'horizontal_form.html' %}                
            <button type="submit" name="button" class="ur-btn">Upload</button>
        </form>
        <a href="{% url 'add_problem' %}" class="ur-link">add problem form</a>

    </div>
{% endblock %}