{% extends 'admin_base_site.html' %}

{% block title%}Edit Score Values{% endblock %}
{% block content %} 
<div style="margin-left: 15%;  margin-right: 35%;" >

<div class="card">
    <div class="card-header" style="font-size: 18px;"> 
        <strong>EDIT SCORE VALUES</strong> 
        <ul class="object-tools" style="position: absolute;top: 60px; right: 15px;">
        <li> 
        </li>
    </ul>
    </div>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% include 'horizontal_form_5.html' %}                
            <input type="submit" value="Update" style="margin-left: 2%;">
	        <input type="hidden" name="next" value="{{ next }}">         </form>
    </div>
</div>
</div>
{% endblock %}