{% extends 'admin_base_site.html' %}

{% block title%}Language Register{% endblock %}
{% block content %}  
{% load static %} 
    <div style="margin-left: 15%;  margin-right: 35%;" >

    <div class="card">
	    <div class="card-header" style="font-size: 18px;"> 
	        <strong>LANGUAGE REGISTER FORM</strong> 
            <ul class="object-tools" style="position: absolute;top: 60px; right: 15px;">
	           <li> 
	           </li>
	       </ul>
	    </div>
         <form  method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'horizontal_form.html' %}                
            <input type="submit" value="Register" style="margin-left: 2%;">   
	        <input type="hidden" name="next" value="{{ next }}">        </form>
    </div>
</div>
{% endblock %}