<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'files/style1.css' %}" type="text/css">
        <title>Email Sent | Andalus</title>
    </head>
    <body>
        <div class="ur-container"> 
            <h1 style="font-size: 2.5em; color: white;">Check your inbox.</h1>
            <p style="font-size: 2em; color: white;">We've emailed you instructions for you setting your password. You should recieve the email shortly!</p>
        </div>
        <script src="{% static 'files/main.js' %}"></script>
    </body>
</html>
