
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load widget_tweaks %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'files/style1.css' %}" type="text/css">
        <title>Forgot Password | Andalus</title>
    </head>
    <body>
        <div class="ur-container">
            <div class="ur-card">
                <h1 class="ur-card-title" style="font-size: 1.3em;">Password recovery</h1>
                <form method="POST" class="ur-form">
                    {% csrf_token %}
                    <input type="email" name="email" value="" placeholder="Email">
                    <button type="submit" name="button" class="ur-btn">Recover</button>
                </form>
            </div>

            <div class="ur-link-group">
                <a href="{% url 'public_scoreboard' %}" class="ur-link">Public</a>
                <a href="{% url 'login' %}" class="ur-link">Login</a>
                <a href="{% url 'register' %}" class="ur-link">Register</a>

            </div>
        </div>
        <script src="{% static 'files/main.js' %}"></script>
    </body>
</html>
