
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'files/style1.css' %}" type="text/css">
        <title>Password reset complete | Andalus</title>
    </head>
    <body>
        <div class="ur-container"> 
            <h1 style="font-size: 2.5em; color: white;">Password reset complete.</h1>
            <p style="font-size: 2em; color: white;">
                your new password has been sent. You can log in now on the 
                <a href="{% url 'login' %}" class="ur-link">Login</a>
            </p>
        </div>
        <script src="{% static 'files/main.js' %}"></script>
    </body>
</html>
