<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load widget_tweaks %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'files/style1.css' %}" type="text/css">
        <title>Enter new Password | Andalus</title>
    </head>
    <body>
        <div class="ur-container">
			{% if validlink %}
            <div class="ur-card">
                <h1 class="ur-card-title" style="font-size: 1.3em;">Set a new password!</h1>
                <form class="ur-form" method="POST">
                    {% csrf_token %}
					<input type="password" name="old_password" value="" placeholder="Old Password">
					<input type="password" name="new_password1" value="" placeholder="New Password">
					<input type="password" name="new_password2" value="" placeholder="Confirm Password">
                    <button type="submit" name="button" class="ur-btn">Change password</button>
                </form>
            </div>
			{% else %}
			<p style="font-size: 2em; color: white;">
				The password reset link was invalid, possibly because it has already been used.
				Please request a new password reset.
			</p>
			{% endif %}

        </div>
        <script src="{% static 'files/main.js' %}"></script>
    </body>
</html>
