{% extends 'site_base_site.html'%}
{% block title%}Generate Password | Andalus{% endblock %}
{% block content %}
    <br>
    <div class="col-sm-8" style="margin-left:100px;">

    <h3>Are you sure?</h3><br>

    <h5>Are you sure you want to generate password for {{role.role}}?</h5>
    <br><br><br>
    <a class="btn btn-primary" href="{% url 'site_generate_password_done' role.id  %}" style="margin-left:15px; color:white;">Yes,I'm sure</a>
    <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}" style="margin-left:15px; color:white;">No, take me back</a>
    </div>
{% endblock %}