{% extends 'site_base_site.html'%}
{% block title%}Contest List | Andalus{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<script  src="{% static 'files/jsi18n.js' %}"> </script>   

<div class="col-sm-12 col-centered" style="margin-top: 2em;">
    <h5 class="ur-card-title" style="font-size: 1.5em;">contest list 
        <a class = "btn btn-outline-info" href="{% url 'add_contest' %}" style="float:right;">Add contest</a>
    </h5>
    <table class="table table-striped" >
        <thead class="table-info">
            <tr>
                <th ><strong>title</strong></th>
                <th ><strong>active time</strong></th>
                <th ><strong>start time</strong></th>
                <th ><strong>end time</strong></th>
              
                <th ><strong>deactivate time</strong></th>
                <th ><strong>created by</strong></th>
                <th ><strong>status</strong></th>
            </tr>
        </thead>
        {% for i in contest %}
                <tr>
                    <td ><a href="{% url 'site_contest_detail' i.id %}" style="text-decoration: none;">{{i.title}}</a></td>
                    <td >{{i.active_time}}</td>
                    <td >{{i.start_time}}</td>
                    <td >{{i.end_time}}</td>
                    <td >{{i.deactivate_time}}</td>
                    <td >{{i.created_by}}</td>
                    {% if i.status == "on going" %}
                        <td style="color:green;">
                            {{i.status}}
                            <a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">view result</a>                           
                        </td>
                    {% elif i.status == "active" %}
                        <td style="color:black;">{{i.status}}</td>
                    {% elif i.status == "not active" %}
                        <td style="color:gray;">{{i.status}}</td>
                    {% elif i.status == "end" %}
                        <td style="color:blue;">
                            {{i.status}}
                            <a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">view result</a>                           
                        </td>
                    {% elif i.status == "deactivate" %}
                        <td style="color:red;">
                            {{i.status}}
                            <a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">view result</a>
                        </td>
                    {% elif i.status == "disable"%}
                        <td style="color:#a0a;">{{i.status}}</td>
                    {% endif %}

                    {% comment %} {% if i.created_by == request.user.campus %}
                    <td><a href="{% url 'deactivate_contest_scoreboard' i.id %}" style="text-decoration: none; float:right;margin-right:2em;">edit</a></td>
                    {% endif %} {% endcomment %}
                </tr>
            
        {% endfor %}
    </table>
    
</div>


{% endblock %}

   